
.each-fade {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;  
}

.each-fade > div {
  width: 80%;
  height: 50%;
}

.each-fade > div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.each-fade p {
  width: 25%;
  font-size: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}